/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

@import "tailwindcss" /*=============== VARIABLES CSS ===============*/: root {
	--header-height: 3.5rem;

	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	/*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */

	/* Default Theme */
	/* --hue-color: 207;
  --first-hue: 250;
  --sat: 90%;
  --lig: 72%;
  --second-hue: 219; */

	/* Theme Based on Profile */
	--hue-color: 0;
	--first-hue: 0;
	--sat: 0%;
	--lig: 70%;
	--second-hue: 0;

	--first-color: hsl(var(--first-hue), var(--sat), var(--lig));
	--first-color-alt: hsl(
		var(--first-hue),
		var(--sat),
		70%
	); /* -5% saturation */
	--title-color: hsl(var(--second-hue), 15%, 95%);
	--text-color: hsl(var(--second-hue), 8%, 75%);
	--text-color-light: hsl(var(--second-hue), 4%, 55%);
	--body-color: hsl(var(--second-hue), 48%, 8%);
	--container-color: hsl(var(--second-hue), 32%, 12%);
	--input-color: hsl(var(--hue-color), 25%, 16%);

	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: "Montserrat", sans-serif;
	--logo-font: "Poppins", sans-serif;
	--biggest-font-size: 1.75rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--tiny-font-size: 0.625rem;

	/*========== Font weight ==========*/
	--font-medium: 500;
	--font-semibold: 600;

	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 2.5rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

/*=============== BASE ===============*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body,
button,
input,
textarea {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}

body {
	background-color: var(--body-color);
	color: var(--text-color);
	transition: 0.4s; /* for light mode animation */
}

h1,
h2,
h3 {
	color: var(--title-color);
	font-weight: var(--font-semibold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*=============== THEME ===============*/
.theme-button {
	font-size: 1.25rem;
	cursor: pointer;
	transition: 0.3s;
	background: none;
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 50%;
}

.theme-button:hover {
	color: var(--first-color);
	background-color: var(--container-color);
}

/*========== Variables Light theme ==========*/
[data-theme="light"] {
	--title-color: hsl(var(--second-hue), 15%, 15%);
	--text-color: hsl(var(--second-hue), 8%, 35%);
	--body-color: hsl(var(--second-hue), 100%, 99%);
	--container-color: rgba(200, 210, 210, 0.68);
	--input-color: rgb(215, 230, 233);
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

[data-theme="light"] .scroll-header {
	box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}

[data-theme="light"] .nav__menu {
	background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
}

[data-theme="light"] .section__subtitle {
	color: var(--text-color);
}

[data-theme="light"] .home__social-link {
	box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.2);
}

[data-theme="light"] .home__social::after {
	background-color: var(--title-color);
}

[data-theme="light"] .home::after {
	background-color: var(--title-color);
}

[data-theme="light"] .home__social-link,
[data-theme="light"] .home__scroll,
[data-theme="light"] .button,
[data-theme="light"] .button:hover,
[data-theme="light"] .active-work {
	color: var(--title-color);
}

[data-theme="light"] .about__box {
	box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}

[data-theme="light"] .skills__data,
[data-theme="light"] .services__content,
[data-theme="light"] .work__card,
[data-theme="light"] .testimonial__card,
[data-theme="light"] .contact__data {
	box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}

/*=============== REUSABLE CSS CLASSES ===============*/
/* html > body > header + main + footer > section > container */

.section {
	padding: 4.5rem 0 1rem;
}

.container {
	max-width: 968px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.grid {
	display: grid;
	gap: 1.25rem;
}

.main {
	overflow: hidden;
}

.section__title,
.section__subtitle {
	text-align: center;
}

.section__title {
	font-size: var(--h2-font-size);
	color: var(--first-color);
	margin-bottom: 2rem;
}

.section__subtitle {
	display: block;
	font-size: var(--smaller-font-size);
	color: var(--text-color-light);
	margin-bottom: 0.5rem;
}

/*=============== HEADER & NAV===============*/
/* header > nav | container > logo + nav menu */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--body-color);
	z-index: var(--z-fixed);
	transition: 0.4s;
}

.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	text-transform: uppercase;
	font-family: var(--logo-font);
	font-weight: var(--font-medium);
	color: var(--text-color);
	transition: 0.4s;
}

.nav__logo:hover {
	color: var(--first-color-alt);
}

.nav__menu {
	position: fixed;
	bottom: 1rem;
	background-color: hsl(var(--second-hue), 32%, 16%, 0.8);
	border-radius: 5rem;
	padding: 1rem 2.5rem;
	width: 90%;
	backdrop-filter: blur(10px);
	transition: 0.4s;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__link {
	color: var(--text-color);
	font-size: 1.25rem;
	padding: 0.75rem;
	display: flex;
	border-radius: 5rem;
}

/* Active link */
.active-link {
	background-color: var(--first-color);
	@apply text-black
	/* 
  background: linear-gradient(180deg,
                    hsla(var(--first-hue), var(--sat), var(--lig), 1),
                    hsla(var(--first-hue), var(--sat), var(--lig), .5)
  );
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4); 
  */;
}

/* Change background header */
.scroll-header {
	box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.4);
}

/* MAIN > SECTION > CONTAINER */

/*=============== HOME ===============*/

.home {
	position: relative; /* for the social & home scroll to hook onto */
	row-gap: 4rem;
	padding-top: 2rem;
}

.home:after {
	margin-top: 3rem;
	content: "";
	width: 50px;
	height: 2px;
	background-color: var(--first-color);
	justify-self: center;
}

.home__data {
	display: flex;
	flex-direction: column;
	text-align: center;
	row-gap: 0.5rem;
}

.home__greeting,
.home__title {
	font-size: var(--small-font-size);
	font-weight: var(--font-medium);
}

.home__greeting {
	display: block;
	color: var(--title-color);
	margin-bottom: 0.25rem;
}

.home__title {
	color: var(--text-color);
	margin-bottom: 2.5rem;
}

.home__name {
	font-size: var(--biggest-font-size);
}

.home__img {
	width: 250px;
	margin: 0 auto;
	border-radius: 100%;
	background: linear-gradient(
		180deg,
		hsla(var(--first-hue), var(--sat), var(--lig), 1),
		hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
	);
}

.home__handle {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
}

.home__description {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.home__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.home__social,
.home__scroll {
	position: absolute; /* make them positioned relative to the parent (home) */
}

.home__social {
	bottom: 10rem;
	left: 0;
	display: grid;
	gap: 1.25rem;
}

.home__social-link {
	width: max-content;
	background-color: var(--container-color);
	color: var(--second-color);
	padding: 0.5rem;
	border-radius: 2rem;
	display: flex;
	font-size: 1rem;
	transition: 0.5s;
}

.home__social-link:hover {
	background-color: var(--first-color);
	color: #fff;
}

.home__social-link i {
	font-size: 1.125rem;
}

.home__social:after {
	content: "";
	width: 32px;
	height: 2px;
	background-color: var(--first-color);
	transform: rotate(90deg) translate(20px, -2px);
}

.home__scroll {
	color: var(--first-color);
	bottom: 13rem;
	right: -1rem;
	display: grid;
	justify-items: center;
	row-gap: 2.25rem;
}

.home__scroll-icon {
	font-size: 1.25rem;
}

.home__scroll-name {
	font-size: var(--smaller-font-size);
	transform: rotate(-90deg);
}

/*=============== BUTTONS ===============*/

.button {
	background-color: var(--first-color);
	color: var(--body-color);
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	font-weight: var(--font-medium);
	transition: 0.5s;
}

.button:hover {
	background-color: var(--first-color-alt);
	color: var(--body-color);
}

.button--ghost {
	background-color: transparent;
	border: 2px solid var(--first-color);
	color: var(--first-color);
}

/*=============== ABOUT ===============*/

#about {
	padding-top: 4rem;
	margin-top: 6rem;
}

.about {
	grid-template-columns: 1fr !important;
	row-gap: 3rem;
}

.about__img {
	width: 220px;
	border-radius: 2rem;
	justify-self: center;
}

.about__data {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
	margin-bottom: 2rem;
}

.about__box {
	background-color: var(--container-color);
	border-radius: 0.5rem;
	padding: 0.75rem 0.5rem;
}

.about__icon {
	font-size: 1.5rem;
	color: var(--first-color);
	margin-bottom: 0.5rem;
}

.about__info {
	display: flex;
	align-content: flex-start;
	gap: 2rem;
}

.about__title {
	font-size: var(--small-font-size);
}

.about__subtitle {
	font-size: var(--tiny-font-size);
}

.about__description {
	text-align: center;
	margin-bottom: 1.5rem;
}

.about__button {
	width: 300p;
	justify-self: center;
	text-align: center;
}

.about__button-wrapper {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
}

/*=============== SKILLS ===============*/

.skills {
	row-gap: 2rem;
	padding-top: 1rem;
}

.skills__data {
	background-color: var(--container-color);
	padding: 1.5rem;
	border-radius: 1.25rem;
}

.skills__title {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	color: var(--text-color-light);
	text-align: left;
	margin-bottom: 1.5rem;
}

.skills__title:after {
	content: "";
	width: 50px;
	height: 2px;
	color: var(--first-color);
}

.skills__box {
	display: flex;
	justify-content: space-evenly;
	column-gap: 2.5rem;
}

.skills__group {
	display: grid;
	align-content: flex-start;
	row-gap: 1rem;
}

.skills__content {
	display: flex;
	column-gap: 0.5rem;
}

.bxs-badge-check {
	color: var(--first-color);
}

.skill__name {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	line-height: 18px;
}

.skill__level {
	font-size: var(--tiny-font-size);
}

/*=============== WORK ===============*/

.work {
	padding-top: 1rem;
}

.work__filter {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.75rem;
	margin-bottom: 2rem;
}

.work__item {
	cursor: pointer;
	color: var(--title-color);
	padding: 0.25rem 0.5rem;
	font-weight: var(--font-medium);
	border-radius: 0.5rem;
}

.work__card {
	background-color: var(--container-color);
	padding: 1rem;
	border-radius: 1rem;
}

.work__img {
	border-radius: 1rem;
	margin-bottom: 0.75rem;
}

.work__title {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	margin-bottom: 0.25rem;
}

.work__buttons {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.work__button {
	width: max-content;
	/* color: var(--first-color); */
	font-size: var(--small-font-size);
	display: flex;
	align-items: center;
	border-radius: 1.25rem;
	padding: 0.5rem 0.75rem;
	column-gap: 0.25rem;
}

.work__button:hover .work__icon {
	transform: translateX(0.125rem);
}

.work__icon {
	font-size: 1rem;
	transition: 0.5s;
}

/* Active item work*/
.active-work {
	background-color: var(--first-color);
	color: var(--body-color);
}

/*=============== SERVICES ===============*/

/* Services modal */

/*Active modal*/

/*=============== TESTIMONIAL ===============*/
.wrapper {
	position: relative;
}

.testimonial__card {
	background-color: var(--container-color);
	padding: 1.25rem 1.5rem;
	border-radius: 1.5rem;
	margin-bottom: 3rem;
}

.testimonial__img {
	width: 60px;
	border-radius: 3rem;
	margin-bottom: 1rem;
}

.testimonial__name {
	font-size: var(--normal-font-size);
	font-weight: var(--font-medium);
	margin-bottom: 0.5rem;
}

.testimonial__description {
	font-size: var(--small-font-size);
}

.testimonial__navigator {
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	width: 30%;
}

.testimonial__icon {
	display: inline-block;
	font-size: 3rem;
	color: var(--first-color);
	cursor: pointer;
}

.testimonial__icon:hover {
	color: var(--first-color-alt);
}

/* Swiper class */
.swiper-pagination-fraction {
	display: none;
}

/*=============== CONTACT ===============*/
.contact {
	row-gap: 2rem;
}

.contact__data {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1.25rem 1.5rem;
	border-radius: 1.5rem;
	/* justify-items: center; */
	/* align-items: center; */
}

.contact__information {
	display: flex;
	padding: 1rem;
}

.contact__icon {
	font-size: 2rem;
	color: var(--first-color);
	margin-right: 0.75rem;
}

.contact__title {
	display: block;
	color: var(--second-color);
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
}

.contact__subtitle {
	font-size: var(--tiny-font-size);
	color: var(--second-color);
}

.contact__content {
	background-color: var(--input-color);
	border-radius: 0.5rem;
	padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
	font-size: var(--small-font-size);
	color: var(--first-color);
}

.contact__input {
	background-color: var(--input-color);
	width: 100%;
	color: var(--text-color);
	font-family: var(--body-color);
	font-size: var(--normal-font-size);
	border: none;
	outline: none;
	padding: 0.25rem 0.5rem 0.5rem 0;
}

.contact__form {
	margin-bottom: 6rem;
}

.contact__form button {
	cursor: pointer;
}

.button-icon-ani:hover {
	transform: translateX(0.25rem);
}

/*=============== FOOTER ===============*/
.footer {
	background-color: var(--first-color);
}

.footer section {
	padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
	color: var(--body-color);
}

.footer__link:hover {
	color: var(--container-color);
}

.footer__title {
	text-align: center;
	margin-bottom: 2rem;
}

.footer__list {
	display: flex;
	justify-content: center;
	column-gap: 1.5rem;
	margin-bottom: 2rem;
}

.footer__social {
	display: flex;
	justify-content: center;
	column-gap: 1.25rem;
}

.footer__social-link {
	background-color: var(--body-color);
	color: var(--first-color);
	padding: 0.25rem;
	font-size: 1.5rem;
	display: inline-flex;
	border-radius: 0.5rem;
	transition: 0.3s;
}

.footer__social-link:hover {
	color: var(--container-color);
	background-color: var(--first-color);
}

.footer__copy {
	display: block;
	margin-top: 4.5rem;
	color: var(--container-color);
	text-align: center;
	font-size: var(--smaller-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
	width: 0.5rem;
	border-radius: 0.5rem;
	background-color: hsl(var(--second-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(var(--second-hue), 8%, 26%);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(var(--second-hue), 8%, 20%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media only screen and (max-width: 320px) {
	.nav__menu {
		padding: 1rem 1.5rem;
	}

	.home__buttons {
		flex-direction: column;
	}

	.home__handle {
		width: 150px;
		height: 253px;
		align-items: center;
	}

	.home__description {
		max-width: 350px;
	}

	.home__img {
		width: 300px;
	}

	.home .button {
		width: 150px;
	}

	.about__data {
		grid-template-columns: repeat(2, 1fr);
	}

	.skills__box {
		column-gap: 1rem;
	}

	.skills__name {
		font-size: var(--tiny-font-size);
	}

	.work__item {
		font-size: var(--small-font-size);
	}

	.work__flter {
		column-gap: 0.25rem;
	}

	.work__title {
		margin-bottom: 0.75rem;
	}

	.testimonial .wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.contact__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media screen and (max-width: 450px) {
	.home__description {
		padding: 0 4rem;
		max-width: 300px;
	}

	.home__social {
		display: flex;
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		box-shadow: none;
	}

	.home__social-link {
		background-color: #c7c2c2;
	}
}

@media screen and (max-width: 576px) {
	.about__info {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.home__description {
		max-width: 350px;
		padding: 0 1rem;
	}

	.home__scroll {
		display: none;
	}

	.home__social:after {
		display: none;
	}
}
/* For medium devices */
@media screen and (min-width: 576px) {
	.container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.nav__menu {
		width: 328px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.home__social {
		left: 2rem;
	}

	.home__scroll {
		right: 2rem;
	}

	.about__description {
		width: 80%;
		margin: 0 auto;
		margin-top: 2rem;
	}

	.skills__content {
		padding: 1rem 2rem;
	}

	.skills__content i {
		font-size: 1.25rem;
	}

	.skill__name {
		font-size: 1.125rem;
	}

	.work {
		grid-template-columns: repeat(2, 1fr);
		justify-self: center;
	}

	.work__img {
		width: 400px;
		margin: 0 auto;
		justify-self: center;
	}

	.work__title {
		padding: 0.75rem 0;
	}

	.testimonial__card {
		height: 200px;
	}

	.testimonial__navigator {
		right: 3rem;
		width: 100px;
	}

	.contact {
		grid-template-columns: repeat(2, max-content);
		justify-content: center;
		column-gap: 3rem;
	}

	.contact__data {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--container-color);
		margin-bottom: 1rem;
	}

	.contact__information {
		width: 100%;
		padding: 1rem 2rem;
	}

	.about__info {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* For large devices */
@media screen and (min-width: 992px) {
	.nav {
		height: calc(var(--header-height) + 1rem);
	}

	/* .section {
    padding: 6.5rem 0 1rem;
  } */

	.section__title {
		margin-bottom: 3.5rem;
	}

	/*
  .home__handle {
    width: 290px;
    height: 400px;
  }

  .home__img {
    width: 250px;
  } 
  */

	.homme__social-link {
		padding: 0.5rem;
		font-size: 1.25rem;
	}

	.home__scroll-icon,
	.home__social-icon {
		font-size: 2rem;
	}

	.home__scroll-icon {
		margin-bottom: 1rem;
	}

	.about {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		column-gap: 4rem;
	}

	.about__data {
		margin-bottom: 0;
	}

	.about__img {
		width: 350px;
	}

	.about__description {
		text-align: left;
		width: 100%;
	}

	.about__box {
		padding: 1rem 1.25rem;
	}

	.work {
		grid-template-columns: repeat(3, 1fr);
		justify-self: center;
	}

	.contact {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}

	.skills__grid {
		display: flex;
		justify-self: center;
	}

	.skills__data {
		width: 50%;
	}

	.skills__box {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0;
	}

	.skills__group {
		gap: 0;
	}

	.skills__content {
		padding: 1rem 1.5rem;
	}

	.skill__name {
		font-size: 1rem;
	}

	.work {
		gap: 3rem;
	}

	.work__card {
		padding: 1.25rem;
	}

	.work__img {
		margin-bottom: 1rem;
	}

	.testimonial__card {
		padding: 1.5rem 1rem;
		height: 225px;
	}

	.contact {
		gap: 3rem;
	}

	.contact__data {
		padding: 0;
		gap: 1rem;
	}

	.contact__title {
		font-size: var(--normal-font-size);
	}

	.about__info {
		margin-top: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.contact__wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.contact__information {
		background-color: var(--container-color);
		box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
		padding: 1.25rem;
		border-radius: 15px;
	}

	.footer__social-link {
		font-size: 1.25rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
}
